body {
  padding-top:2%;
  background: #e2e1e0;
  text-align: center;
}


.cards {
  padding:5%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-left: 3px groove rgba(14,53,80,0.95);
  border-radius: 38px 36px 35px 35px;
  display:inline-block;

}
div{
margin:4px;
}

.cards:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
